@charset "UTF-8";

.btn{
    display: inline-block;
    > a,
    > .btn-no_link{
        display: block;
    }
    > a{
        background-color:#f00;
        color:#fff;

        .theme-black & {
            background-color:#000;
        }
        .theme-white & {
            background-color:#fff;
            color:#000;
        }
    }
    &.is-disable{
        > .btn-no_link{
            background-color:#ccc;
            color:#fff;
        }
    }
}