@charset "UTF-8";

/* フォントサイズ */
$f10:62.5%;
$f11:68.75%;
$f12:75%;
$f13:81.25%;
$f14:62.5%;
$f15:83.3333%;
$f16:100%;
$f18:112.5%;
$f20:125%;
$f22:137.5%;
$f24:150%;

/* 行間 */
$line_height_narrow:1.1;
$line_height_normal:1.3;
$line_height_for_longtext:1.5;

/* レイアウト情報 */
$max_width:800px;


$keycolor:#f00;